body {
  background-color: gainsboro;
  padding: 20px 70px;
  font-family: "Arial", sans-serif;
  margin: 0 auto;
}
h1 {
  font-size: 46px;
  font-weight: 900;
}
main {
  font-size: 30px;
  font-weight: 800;
}

.faq {
  color: blueviolet;
  background-image: none;
}
.faq:hover {
  color: black;
}
.faq-items {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.mem {
  display: none;
  width: 400px;
  height: 400px;
  padding-top: 20px;
  transition: 2s;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(0%);
  animation-name: Appearance;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

@-webkit-keyframes Appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes Appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes Appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

label {
  display: block;
  cursor: pointer;
  position: relative;
  transition: 1s;
}
label:after {
  content: "";
  position: absolute;
  right: 15px;
  bottom: 2px;
  border: 10px solid transparent;
  border-top: 20px solid;
}

.faq-input {
  appearance: none;
  position: absolute;
  transition: 1s;
}
.faq-input:checked ~ .mem {
  display: block;
}

.faq-input:hover ~ .mem {
  display: block;
  transition: 2s;
}
.faq-input:checked ~ label {
  color: black;
  transition: 2s;

}
.faq-input:checked ~ label:after {
  border: 10px solid transparent;
  border-bottom: 20px solid black;
  transition: all 1s ease-out;
}
.faq-input:hover ~ label:after {
  border: 10px solid transparent;
  border-bottom: 20px solid black;
  transition: all 1s ease-out;
}
.faq-title {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 820px) {
  h1 {
    font-size: 35px;
    font-weight: 700;
  }
  main {
    font-size: 25px;
    font-weight: 600;
  }
}
@media (max-width: 600px) {
  body {
    padding: 15px 15px;
    margin: 0 auto;
  }
  h1 {
    font-size: 28px;
    font-weight: 800;
  }
  main {
    font-size: 20px;
    font-weight: 400;
  }
  label:after {
    content: "";
    position: absolute;
    right: 10px;
    bottom: 3px;
    border: 7px solid transparent;
    border-top: 15px solid blueviolet;
  }
  .faq-input:hover ~ label:after {
    border: 7px solid transparent;
    border-bottom: 15px solid black;
    transition: all 0.5s ease-out;
  }
  .mem {
    width: 250px;
    height: 250px;
  }
}
